Repository zesty-io/website, pull requests merged in 2022-08, with the labels that each got.

#764 Bring back client side routing in Instances
  src/components/accounts/instances/InstancesApp.js
  src/pages/instances/[zuid]/index.js
  src/store/index.js
Labels: zustand

#803 MUI Styling accounts . Instance dashboard, layout, navigation
  src/components/accounts/instances/CustomMenu.js
  src/components/accounts/instances/InstanceHeader.js
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/instances/InstancesDashboard.js
  src/components/hooks/useDropdown.js
Labels: Enhancement

#835 feat(container): overriding container width when login / not login(app bar & navigation)
  src/components/accounts/instances/InstanceContainer.js
  src/components/accounts/instances/InstanceHeader.js
  src/components/console/AppBar.js
  src/layouts/Main/Main.js
  src/pages/instances/index.js
  src/theme/index.js
Labels: theme

#848 Profile page layout update
  src/components/accounts/profile/ProfileApp.js
  src/components/accounts/validations/accounts.js
  src/pages/profile/security.js
  src/views/accounts/profile/Preference.js
  src/views/accounts/profile/Security.js
Labels: accounts

#847 feat(two factor auth): two factor auth and refactoring
  package-lock.json
  package.json
  src/components/accounts/instances/InstanceOverview.js
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/ui/input/FormInput.js
  src/components/accounts/validations/accounts.js
  src/components/console/AppBar.js
  src/components/console/Login.js
  src/components/hooks/useIsLoggedIn.js
  src/components/hooks/usePeriodicVerify.js
  src/layouts/Main/Main.js
  src/pages/_app.js
  src/pages/instances/[zuid]/apis.js
  src/pages/instances/[zuid]/billing.js
  src/pages/instances/[zuid]/domains.js
  src/pages/instances/[zuid]/index.js
  src/pages/instances/[zuid]/languages.js
  src/pages/instances/[zuid]/locales.js
  src/pages/instances/[zuid]/settings.js
  src/pages/instances/[zuid]/support.js
  src/pages/instances/[zuid]/teams.js
  src/pages/instances/[zuid]/users.js
  src/pages/instances/[zuid]/webhooks.js
  src/pages/instances/index.js
Labels: accounts

#851 Next js Middleware and Nextjs 12.2
  package-lock.json
  package.json
  src/middleware.js
Labels: middleware

#871 Fix CreateWebhook payload escape chars
  .github/labeler.yml
  src/pages/instances/[zuid]/webhooks.js
  src/utils/index.js
Labels: workflow, accounts-page

#872 Fix Update UserRoles not updating
  src/components/accounts/ui/select/UsersSelect.js
  src/pages/instances/[zuid]/users.js
  src/views/accounts/instances/Users.js
Labels: accounts

#862 New layout of Instance Search bar
  src/components/accounts/instances/CustomMenu.js
  src/components/accounts/instances/InstancesDashboard.js
Labels: accounts

#860 Fix Accounts staff permission
  src/utils/index.js
  src/views/accounts/instances/Webhooks.js
Labels: accounts

#863 style(shell ,profile,instances styling): shell ,profile,instances styling)
  src/components/accounts/instances/InstanceContainer.js
  src/components/accounts/instances/InstanceHeader.js
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/instances/InstancesDashboard.js
  src/components/accounts/profile/ProfileApp.js
  src/components/accounts/profile/ProfileContainer.js
  src/components/console/AppBar.js
  src/components/globals/ComboBox.js
Labels: accounts, globals

#885 fix(build css issues): build css issues
  next.config.js
  src/components/globals/ZestyHead.js
Labels: globals

#886 Feat/accounts login redesign
  src/components/accounts/ui/input/FormInput.js
  src/components/accounts/validations/accounts.js
  src/components/console/Login.js
  src/theme/palette.js
  src/views/zesty/Login.js
Labels: theme, accounts

#900 feat(forgot password layout/function): forgot password layout and fun…
  src/components/accounts/validations/accounts.js
  src/components/console/Login.js
  src/pages/login/forgot-password.js
  src/views/zesty/Login.js
  src/views/zesty/PartnerProgramDirectory.js
  src/views/zesty/PartnerProgramFeature.js
  src/views/zesty/index.js
Labels: accounts

#899 Accounts Favorites
  src/components/accounts/instances/InstancesDashboard.js
  src/components/accounts/ui/index.js
  src/components/accounts/ui/loading/InstanceLoading.js
  src/components/accounts/ui/loading/index.js
Labels: accounts

#923 fix(fix showing correct nav): fix showing correct nav
  src/components/accounts/instances/InstanceContainer.js
  src/components/accounts/profile/ProfileContainer.js
  src/layouts/Main/Main.js
  src/views/zesty/Login.js
Labels: accounts

#922 style(fullscreen login): fullscreen login
  src/components/accounts/instances/InstanceContainer.js
  src/components/console/Login.js
  src/layouts/Main/Main.js
  src/layouts/Main/components/Footer/Footer.js
Labels: accounts

#920 Feat/accounts invites
  src/components/accounts/instances/InstancesDashboard.js
  src/components/accounts/instances/InstancesList.js
Labels: accounts

#924 User tab Fixes
  src/components/accounts/ui/buttons/DeleteBtn.js
  src/components/accounts/ui/buttons/SubmitBtn.js
  src/components/accounts/ui/buttons/index.js
  src/components/accounts/users/baseroles.js
  src/components/accounts/validations/accounts.js
  src/pages/instances/[zuid]/teams.js
  src/pages/instances/[zuid]/users.js
  src/utils/index.js
  src/views/accounts/instances/Teams.js
  src/views/accounts/instances/Users.js
Labels: accounts, accounts-page
