Repository zesty-io/website, pull requests merged in 2022-11, with the labels that each got.

#1264 Fix/ssr problem, seo, window, cookies
  src/components/console/AccountsAppbar.js
  src/components/context/CookiesProvider.js
  src/components/globals/ZestyHead.js
  src/components/hooks/useIsLoggedIn.js
  src/components/wrappers/Page.js
  src/layouts/Main/Main.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
  src/layouts/Main/components/Topbar/components/NavItem/AccountsSingleNavItem.js
  src/lib/protectedRouteGetServerSideProps.js
  src/pages/[...slug].js
  src/pages/_app.js
  src/pages/index.js
  src/pages/join.js
  src/pages/login/forgot-password.js
  src/pages/login/reset-password-confirm.js
  src/pages/logout.js
  src/pages/start.js
  src/views/zesty/Homepage.js
Labels: lib, globals, hooks

#1272 Fix/ssr problem base dev darwin1
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/profile/ProfileApp.js
  src/components/accounts/profile/ProfileContainer.js
Labels: accounts

#1277 Fix/namespace gssp accounts and bring back unused vars
  src/components/cta/DemoForm.js
  src/components/cta/TryFreeButton.js
  src/components/docs/docsLookup.js
  src/components/wrappers/Page.js
  src/layouts/Main/Main.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/pages/instances/[zuid]/apis.js
  src/pages/instances/[zuid]/billing.js
  src/pages/instances/[zuid]/domains.js
  src/pages/instances/[zuid]/index.js
  src/pages/instances/[zuid]/languages.js
  src/pages/instances/[zuid]/locales.js
  src/pages/instances/[zuid]/settings.js
  src/pages/instances/[zuid]/support.js
  src/pages/instances/[zuid]/teams.js
  src/pages/instances/[zuid]/users.js
  src/pages/instances/[zuid]/webhooks.js
  src/pages/instances/index.js
  src/pages/logout.js
  src/pages/profile/index.js
  src/pages/profile/preferences.js
  src/pages/profile/security.js
  src/pages/teams/index.js
Labels: accounts, cta, lib, accounts-page, accounts-pages, docs

#1278 Fix: Marketing and Accounts not loading javascript due to chrome extension
  .vscode/settings.json
  src/components/globals/ZestyAccountsHead.js
  src/components/globals/ZestyHead.js
  src/pages/_document.js
Labels: globals

#1302 refactor(roadmap): update env variable
  README.md
  package.json
  src/blocks/features/Features/Features.js
  src/blocks/heroes/SimpleHeroWithImageAndCtaButtons/SimpleHeroWithImageAndCtaButtons.js
  src/blocks/integrations/TechStack.js
  src/components/accounts/dashboard/ui/ZInstancesContainer.js
  src/components/accounts/instances/InstanceDashboardV2.js
  src/components/console/Login.js
  src/components/marketing/ForDeveloper/ContainerWithBackground.js
  src/components/marketing/ForDeveloper/Documentation.js
  src/components/marketing/ForDeveloper/Hero.js
  src/components/marketing/ForDeveloper/HowZestyWorks.js
  src/components/marketing/ForDeveloper/Support.js
  src/components/marketing/ForDeveloper/ZestyDrives.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/lib/githubFetch.js
  src/pages/[...slug].js
  src/theme/palette.js
  src/views/zesty/ForDeveloper.js
  src/views/zesty/Roadmap.js
  src/views/zesty/WhyZesty.js
Labels: lib

#1303 Bug/roadmap
  src/pages/[...slug].js
Labels: lib

#1355 fix(fix card / page styling)
  src/components/marketplace/landing/FeaturedApps.js
  src/components/marketplace/landing/FeaturedCard.js
  src/components/marketplace/landing/MainApps.js
  src/components/marketplace/landing/MainCard.js
Labels: marketplace

#1344 fix(next-js integration page): fix layout issues on nextjs integratio…
  src/blocks/logoGrid/SimpleCardLogo/SimpleCardLogo.js
  src/components/marketing/IntegrationsIndividualPage/Resources.js
  src/components/marketing/IntegrationsIndividualPage/TopCompanies.js
Labels: marketing

#1357 Bug/large screen issues
  src/blocks/caseStudies/TopBrands.js
  src/blocks/features/Features/Features.js
  src/blocks/zesty/Growth/Growth.js
  src/components/marketing/DigitalExperiencePlatform/About.js
  src/components/marketing/DigitalExperiencePlatform/Bottom.js
  src/components/marketing/DigitalExperiencePlatform/Hero.js
  src/components/marketing/DigitalExperiencePlatform/Implementation.js
  src/components/marketing/DigitalExperiencePlatform/Integrations.js
  src/components/marketing/DigitalExperiencePlatform/Middle.js
  src/components/marketing/DigitalExperiencePlatform/Solution.js
  src/components/marketing/DxpEnterprise/Hero.js
  src/components/marketing/DxpEnterprise/WhyZesty.js
  src/components/marketing/HybridCms/About.js
  src/components/marketing/HybridCms/Bottom.js
  src/components/marketing/HybridCms/Hero.js
  src/components/marketing/HybridCms/Hybrid.js
  src/components/marketing/PlatformOverview/Bottom.js
  src/components/marketing/PlatformOverview/PowerHeadless.js
  src/components/marketing/TechnologyOverview/GetStarted.js
  src/components/marketing/TechnologyOverview/Hero.js
  src/views/zesty/DigitalExperiencePlatform.js
  src/views/zesty/DxpEnterprise.js
  src/views/zesty/HybridCm.js
  src/views/zesty/TechnologyOverview.js
Labels: marketing

#1367 fix(appinstallercomp): change install button behavior for ssr
  src/components/marketplace/AppInstallerComp.js
Labels: marketplace

#1362 fix(fix banner position, and mindshare gap)
  src/blocks/heroes/HeroJarallax/HeroJarallax.js
  src/blocks/heroes/HeroWithBackgroundAndFullSearchBar/HeroWithBackgroundAndFullSearchBar.js
  src/components/marketing/SiteBanner/SiteBanner.js
  src/theme/index.js
Labels: theme, marketing

#1371 fix(fix images over appbar)
  src/components/marketing/DigitalExperiencePlatform/About.js
  src/components/marketing/DigitalExperiencePlatform/Implementation.js
  src/components/marketing/DigitalExperiencePlatform/Integrations.js
  src/components/marketing/DigitalExperiencePlatform/Middle.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/layouts/Main/components/Topbar/components/NavItem/AccountsNavItem.js
Labels: marketing

#1374 fix(fix images when in darkmode)
  src/blocks/features/BrandHighlights/BrandHighlights.js
  src/components/marketing/Homepage/CaseStudies.js
  src/views/zesty/TechnologyOverview.js
Labels: marketing

#1372 fix(fix zohoform responsiveness)
  src/components/marketing/PartnerProgramLp/Bottom.js
Labels: marketing

#1379 fix(for-personas-page): image and style adjustment. button fix
  src/blocks/benefits/Benefits.js
  src/blocks/features/Features/Features.js
  src/blocks/logoGrid/SimpleCardLogo/SimpleCardLogo.js
  src/components/marketing/ForPersonas/ContainerWithBackground.js
  src/components/marketing/ForPersonas/Hero.js
  src/views/zesty/ForPersonasPage.js
Labels: marketing

#1382 fix(add banner bg in darkmode)
  src/theme/palette.js
Labels: theme

#1385 Merge/stage accounts
  public/assets/images/google/google_logo.svg
  public/assets/images/microsoft/microsoft_logo.svg
  src/blocks/benefits/Benefits.js
  src/blocks/benefits/index.js
  src/blocks/caseStudies/CaseStudyCards.js
  src/blocks/features/BrandHighlights/BrandHighlights.js
  src/blocks/features/FeatureList/index.js
  src/blocks/features/Features/Features.js
  src/blocks/heroes/HeroJarallax/HeroJarallax.js
  src/blocks/heroes/HeroWithBackgroundAndFullSearchBar/HeroWithBackgroundAndFullSearchBar.js
  src/blocks/logoGrid/LogoGridSimpleCentered/LogoGridSimpleCentered.js
  src/blocks/logoGrid/SimpleCardLogo/SimpleCardLogo.js
  src/blocks/zesty/Persona/Persona.js
  src/components/console/Login.js
  src/components/marketing/DigitalExperiencePlatform/About.js
  src/components/marketing/DigitalExperiencePlatform/Implementation.js
  src/components/marketing/DigitalExperiencePlatform/Integrations.js
  src/components/marketing/DigitalExperiencePlatform/Middle.js
  src/components/marketing/ForDeveloper/HowZestyWorks.js
  src/components/marketing/ForMarketers/ContainerWithBackground.js
  src/components/marketing/ForMarketers/Hero.js
  src/components/marketing/ForPersonas/ContainerWithBackground.js
  src/components/marketing/ForPersonas/Hero.js
  src/components/marketing/ForPersonas/WordPressMigration.js
  src/components/marketing/Homepage/CaseStudies.js
  src/components/marketing/PartnerProgramLp/Bottom.js
  src/components/marketing/SiteBanner/SiteBanner.js
  src/components/marketplace/AppInstallerComp.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/layouts/Main/components/Topbar/components/NavItem/AccountsNavItem.js
  src/pages/_error.js
  src/theme/index.js
  src/theme/palette.js
  src/views/zesty/ForDeveloper.js
  src/views/zesty/ForPersonasPage.js
  src/views/zesty/TechnologyOverview.js
Labels: theme, marketplace, marketing

#1384 Fix/cleaning up refactoring
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/ui/select/AccountsComboBox.js
  src/components/console/AccountsAppbar.js
  src/components/console/AppBar.js
  src/components/globals/ComboBox.js
  src/components/marketplace/MarketplaceSinglePageContainer.js
  src/layouts/Main/Main.js
  src/pages/_app.js
  src/pages/instances/[zuid]/apis.js
  src/pages/instances/[zuid]/billing.js
  src/pages/instances/[zuid]/domains.js
  src/pages/instances/[zuid]/index.js
  src/pages/instances/[zuid]/languages.js
  src/pages/instances/[zuid]/locales.js
  src/pages/instances/[zuid]/settings.js
  src/pages/instances/[zuid]/support.js
  src/pages/instances/[zuid]/teams.js
  src/pages/instances/[zuid]/users.js
  src/pages/instances/[zuid]/webhooks.js
  src/pages/instances/index.js
Labels: accounts, marketplace, globals, accounts-page

#1400 Merge/stage accounts
  next.config.js
  src/blocks/zesty/Bottom/Bottom.js
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/ui/select/AccountsComboBox.js
  src/components/console/AccountsAppbar.js
  src/components/console/AppBar.js
  src/components/console/Login.js
  src/components/globals/ComboBox.js
  src/components/marketplace/MarketplaceSinglePageContainer.js
  src/layouts/Main/Main.js
  src/lib/zesty/fetchRedirects.js
  src/pages/_app.js
  src/pages/instances/[zuid]/apis.js
  src/pages/instances/[zuid]/billing.js
  src/pages/instances/[zuid]/domains.js
  src/pages/instances/[zuid]/index.js
  src/pages/instances/[zuid]/languages.js
  src/pages/instances/[zuid]/locales.js
  src/pages/instances/[zuid]/settings.js
  src/pages/instances/[zuid]/support.js
  src/pages/instances/[zuid]/teams.js
  src/pages/instances/[zuid]/users.js
  src/pages/instances/[zuid]/webhooks.js
  src/pages/instances/index.js
  src/pages/join.js
  src/views/zesty/ForPersonasPage.js
  zesty.config.json
Labels: accounts, marketplace, lib, globals, accounts-page

#1411 Nav revamp
  package-lock.json
  src/blocks/IndexView/IndexView.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/views/NotFound/NotFound.js
  src/views/NotFoundCover/NotFoundCover.js
Labels: theme, lib
