Repository zesty-io/website, pull requests merged in 2022-12, with the labels that each got.

#1407 fix(avoid ui movement, and lessen the size of text): avoid ui movemen…
  src/components/accounts/instances/InstanceHeader.js
Labels: accounts

#1427 Feat/join app new wip
  src/components/accounts/join/index.js
Labels: accounts

#1432 feat(joinap): fix the updateuser not working
  src/components/accounts/join/index.js
Labels: accounts

#1433 Feat/join app new wip
  src/components/accounts/join/index.js
  src/components/accounts/join/zohoPostObject.js
  src/components/accounts/validations/accounts.js
  src/store/index.js
Labels: zustand, accounts

#1435 fix(joinapp): loading
  src/components/accounts/dashboard/index.js
Labels: accounts

#1443 fix(joinapp): remove resources card and add prefs in store
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/index.js
  src/store/index.js
Labels: zustand, accounts

#1446 feat(joinapp): update
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/MissingQuestions.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/PreferenceQuestions.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
Labels: accounts

#1449 Stage to accounts
  .github/workflows/e2e-cypress.yml
  README.md
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/MissingQuestions.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/PersonalizationSurvey.js
  src/components/accounts/join/PreferenceQuestions.js
  src/components/accounts/join/ResourceCard.js
  src/components/accounts/join/zohoPostObject.js
  src/components/accounts/ui/loading/AccountsPageLoading.js
  src/components/accounts/ui/loading/index.js
  src/components/accounts/validations/accounts.js
  src/components/marketing/Start/Start/ProjectDetails.js
  src/components/wrappers/Page.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
  src/store/index.js
  src/views/zesty/Homepage.js
Labels: workflow, zustand, accounts, marketing

#1450 Revert "Stage to accounts"
  .github/workflows/e2e-cypress.yml
  README.md
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/MissingQuestions.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/PersonalizationSurvey.js
  src/components/accounts/join/PreferenceQuestions.js
  src/components/accounts/join/ResourceCard.js
  src/components/accounts/join/zohoPostObject.js
  src/components/accounts/ui/loading/AccountsPageLoading.js
  src/components/accounts/ui/loading/index.js
  src/components/accounts/validations/accounts.js
  src/components/marketing/Start/Start/ProjectDetails.js
  src/components/wrappers/Page.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
  src/store/index.js
  src/views/zesty/Homepage.js
Labels: workflow, zustand, accounts, marketing

#1454 feat(joinapp): update decision maker check
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/MissingQuestions.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/PreferenceQuestions.js
  src/components/accounts/join/ToolBox.js
  src/components/accounts/join/constants.js
  src/components/accounts/join/zohoPostObject.js
  src/components/accounts/validations/accounts.js
  src/store/index.js
Labels: zustand, accounts

#1458 Merge/accounts to stage v2
  .github/workflows/e2e-cypress.yml
  cypress/support/commands.js
Labels: workflow, e2e

#1460 Feat/accounts joinapp update
  src/components/accounts/join/MissingQuestions.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/ToolBox.js
  src/components/accounts/join/constants.js
  src/components/accounts/ui/buttons/JoinAppBtn.js
  src/components/accounts/ui/buttons/SubmitBtn.js
  src/components/accounts/ui/buttons/index.js
Labels: accounts

#1461 fix(joinapp): added loading in create instance
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1463 fix(joinapp): add check for old user prefs
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/MissingQuestions.js
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1465 Feat/accounts joinapp update wip
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/MissingQuestions.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/constants.js
  src/components/accounts/join/services.js
  src/store/index.js
Labels: zustand, accounts

#1469 Feat/old join update
  src/components/marketing/Join/SlideMessage.jsx
  src/pages/join.js
  src/views/zesty/JoinPageContent.js
  src/views/zesty/ParsleyFeaturesPage.js
  src/views/zesty/index.js
Labels: marketing

#1470 Fix/joinapp flow
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/PersonalizationSurvey.js
  src/components/accounts/join/ToolBox.js
  src/components/accounts/ui/buttons/JoinAppBtn.js
Labels: accounts

#1473 fix(joinapp): change isNewuser check
  src/components/accounts/dashboard/index.js
Labels: accounts

#1475 feat(joinapp): onboarding last step update
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1476 Fix/joinapp flow
  src/components/accounts/dashboard/index.js
  src/components/accounts/instances/InstanceDashboardV2.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1478 fix(joinapp): gtm tag update , pendo and favorite instance update
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/OnboardingQuestions.js
  src/pages/_app.js
Labels: accounts

#1486 style(login join a): form input backgrounds
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/ToolBox.js
  src/components/accounts/ui/input/FormInput.js
  src/components/marketing/Join/SlideMessage.jsx
Labels: accounts, marketing

#1487 fix(joinapp): add name in slack notify
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1488 Fix/joinapp flow
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/ui/table/StickyTable.js
Labels: accounts

#1489 fix(mindshare articles): fix code wrapping issues and layout adjustme…
  src/components/globals/WYSIWYGRender.js
Labels: globals

#1491 Accounts to stage
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/ToolBox.js
  src/components/accounts/ui/input/FormInput.js
  src/components/accounts/ui/table/StickyTable.js
  src/components/marketing/Join/SlideMessage.jsx
Labels: accounts, marketing

#1493 fix(onboarding): title typo
  src/components/accounts/join/Onboarding.js
Labels: accounts

#1496 Accounts update
  src/components/accounts/domains/DomainListings.js
  src/components/accounts/validations/accounts.js
  src/views/accounts/profile/YourProfile.js
Labels: accounts

#1498 feat(editprofile): added update role in zoho
  src/views/accounts/profile/YourProfile.js
Labels: accounts

#1499 Fix/domains devs
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/PersonalizationSurvey.js
Labels: accounts

#1511 fix(joinapp): change slack message on last slide (#1510)
  src/components/accounts/dashboard/index.js
  src/components/accounts/instances/InstanceDashboardV2.js
  src/components/accounts/join/Onboarding.js
  src/pages/join.js
Labels: accounts
