Repository zesty-io/website, pull requests merged in 2022-09, with the labels that each got.

#932 feat(page): reset password confirm page
  src/components/accounts/validations/accounts.js
  src/pages/login/forgot-password.js
  src/pages/login/reset-password-confirm.js
Labels: accounts

#931 Fix: Setting Tab
  src/components/accounts/ui/buttons/DeleteBtn.js
  src/components/accounts/ui/input/FormInput.js
  src/components/accounts/validations/accounts.js
  src/pages/instances/[zuid]/apis.js
  src/pages/instances/[zuid]/settings.js
  src/utils/index.js
  src/views/accounts/instances/Apis.js
  src/views/accounts/instances/Settings.js
Labels: accounts, accounts-page

#904 Accounts Instances Overview Tab
  next.config.js
  src/components/accounts/instances/InstanceHeader.js
  src/components/accounts/instances/OverviewTabs.js
  src/components/accounts/instances/index.js
  src/components/accounts/ui/loading/LoadingSpinner.js
  src/components/accounts/ui/loading/index.js
  src/components/accounts/ui/table/StickyTable.js
  src/pages/instances/[zuid]/apis.js
  src/pages/instances/[zuid]/index.js
  src/pages/instances/[zuid]/settings.js
  src/pages/instances/[zuid]/teams.js
  src/pages/instances/[zuid]/users.js
  src/pages/instances/[zuid]/webhooks.js
  src/views/accounts/instances/Apis.js
  src/views/accounts/instances/Overview.js
  src/views/accounts/instances/Settings.js
  src/views/accounts/instances/Teams.js
  src/views/accounts/instances/Users.js
  src/views/accounts/instances/Webhooks.js
  src/views/accounts/instances/index.js
Labels: accounts, accounts-page

#943 Fix: Settings tab render and Middleware
  src/components/accounts/instances/InstancesDashboard.js
  src/components/accounts/ui/buttons/ColorToggleBtn.js
  src/middleware.js
Labels: accounts, middleware

#934 feat(page): teams page
  src/components/accounts/teams/AddTeam.js
  src/components/accounts/teams/ManageTeam.js
  src/components/accounts/teams/TeamInvites.js
  src/components/accounts/teams/TeamsContainer.js
  src/components/accounts/ui/input/FormInput.js
  src/components/accounts/validations/accounts.js
  src/components/console/Login.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
  src/pages/teams/index.js
  src/theme/palette.js
  src/utils/index.js
  src/views/zesty/Login.js
Labels: theme, accounts

#948 Fix/accounts teams tab
  src/components/accounts/ui/loading/LoadingSpinner.js
  src/components/accounts/ui/table/BaseRoles.js
  src/components/accounts/ui/table/CollapseTable.js
  src/components/accounts/ui/table/NoData.js
  src/components/accounts/ui/table/StickyTable.js
  src/components/accounts/ui/table/index.js
  src/pages/instances/[zuid]/teams.js
  src/pages/instances/[zuid]/users.js
  src/views/accounts/instances/Apis.js
  src/views/accounts/instances/Settings.js
  src/views/accounts/instances/Teams.js
  src/views/accounts/instances/Users.js
Labels: accounts, accounts-page

#949 Domains view
  src/components/accounts/domains/DomainListings.js
  src/components/accounts/domains/DomainSettings.js
  src/components/accounts/domains/DomainTable.js
  src/components/accounts/domains/HttpSettings.js
  src/components/accounts/domains/index.js
  src/pages/instances/[zuid]/domains.js
Labels: accounts, accounts-page
