Repository zesty-io/website, pull requests merged in 2023-05, with the labels that each got.

#1714 Marketing components to Layouts (#1713)
  package-lock.json
  package.json
  src/blocks/layoutsBlocks/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/AcquiaHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/AcquiaWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContenfulWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentStackHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentStackWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentfulHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/G2ReviewswithTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/HygraphHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/HygraphWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ScheduleMeetingWidget/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/SiteCoreHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/SiteCoreWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/StevenHoskinsTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/WordPressHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/WordPressWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ZestyAPIFeaturesHighlight/index.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/pages/revamp.js
  src/revamp/ui/CustomIFrame/index.js
  src/revamp/ui/FeatureTwoCTA/index.js
  src/revamp/ui/Grid3Testimonials/index.js
  src/revamp/ui/GridCompetitorListing/index.js
  src/revamp/ui/GridFeatureList/index.js
  src/revamp/ui/HeroTextImageWithStatsBelow/index.js
  src/revamp/ui/ImageTransition/index.js
  src/revamp/ui/MediaPage/index.js
  src/revamp/ui/SingleTestimonial/index.js
  src/views/zesty/Media.js
  src/views/zesty/index.js
Labels: marketing

#1721 Feat/product pages
  .github/workflows/algolia_ci.yml
  package-lock.json
  package.json
  src/blocks/layoutsBlocks/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/AcquiaHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/AcquiaWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContenfulWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentStackHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentStackWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentfulHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/G2ReviewswithTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/HygraphHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/HygraphWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ScheduleMeetingWidget/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/SiteCoreHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/SiteCoreWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/StevenHoskinsTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/WordPressHero/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/WordPressWhyZesty/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ZestyAPIFeaturesHighlight/index.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/pages/[...slug].js
  src/pages/api/algolia.js
  src/pages/index.js
  src/pages/revamp.js
  src/revamp/ui/CustomIFrame/index.js
  src/revamp/ui/FeatureTwoCTA/index.js
  src/revamp/ui/Grid3Testimonials/index.js
  src/revamp/ui/GridCompetitorListing/index.js
  src/revamp/ui/GridFeatureList/index.js
  src/revamp/ui/HeroTextImageWithStatsBelow/index.js
  src/revamp/ui/ImageTransition/index.js
  src/revamp/ui/MediaPage/index.js
  src/revamp/ui/SingleTestimonial/index.js
  src/utils/docs/index.js
  src/views/Docs/AlgoSearch.js
  src/views/zesty/Media.js
  src/views/zesty/Product.js
  src/views/zesty/ProductLandingPage.js
  src/views/zesty/index.js
Labels: workflow, marketing, docs

#1730 feat(index and slug.js): added `cache` in getserversideprops
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/pages/[...slug].js
  src/pages/index.js
Labels: accounts, lib

#1737 feat(api.js): added fetcher with timeout in api call for nav
  src/components/globals/FillerContent.js
  src/lib/api.js
Labels: lib, globals

#1739 Feat/in mem cache
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/lib/api.js
  src/pages/[...slug].js
  src/pages/index.js
  src/pages/marketplace/[...slug].js
  src/pages/marketplace/index.js
Labels: accounts, marketplace, lib, marketplace-page

#1742 Feat/layouts components
  package-lock.json
  package.json
  src/blocks/layoutsBlocks/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/CompetitorListing/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentOnlyText/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentSectionAuthorTags/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ContentSectionRichText/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/EnterpriseGrowthSection/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/FeatureSectionLIRTBulletsTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/FeatureSectionLIRTStats/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/FeatureSectionLIRTTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/FeatureSectionLTRIBulletsTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/FeatureSectionLTRITestimonial/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/FeatureTopTextBottomImage/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/GetDemoLongForm/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/GetDemoShortForm/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/GridFeatureListWithImageDark/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/GridFeatureListWithImageLight/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/GridFeatureListWithoutImageDark/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/GridFeatureListWithoutImageLight/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/GridTestimonials/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/IBigBlogCard/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/IBlogCard/index.js
  src/blocks/layoutsBlocks/revamp/layoutComponent/ISecurityFeature/index.js
  src/blocks/layoutsBlocks/revamp/ui/EnterpriseGrowth/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureBulletWithTestimonials/index.js
  src/blocks/layoutsBlocks/revamp/ui/SecurityFeature/index.js
  src/blocks/layoutsBlocks/revamp/ui/SingleTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/ui/Stats/index.js
  src/blocks/layoutsBlocks/revamp/ui/TabsSection/index.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/layouts/Main/Main.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/lib/ZestyView.js
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/lib/api.js
  src/pages/[...slug].js
  src/pages/api/algolia-gitbook-transformer.js
  src/pages/api/algolia.js
  src/pages/index.js
  src/revamp/ui/BlackHero/index.js
  src/revamp/ui/EnterpriseGrowth/index.js
  src/revamp/ui/FeatureBulletWithTestimonials/index.js
  src/revamp/ui/Hero/index.js
  src/revamp/ui/LightHero/index.js
  src/revamp/ui/SecurityFeature/index.js
  src/revamp/ui/SingleTestimonial/index.js
  src/revamp/ui/Stats/index.js
  src/revamp/ui/TabsSection/index.js
  src/utils/docs/index.js
  src/views/Docs/AlgoSearch.js
  src/views/zesty/Homepage.js
  src/views/zesty/LongFormPpc.js
  src/views/zesty/Product.js
  src/views/zesty/ProductLandingPage.js
  src/views/zesty/index.js
Labels: accounts, marketing, lib, docs

#1744 fix(api.js): error in `/marketplace `
  src/lib/api.js
  src/pages/marketplace/[...slug].js
  src/pages/marketplace/index.js
Labels: marketplace, lib, marketplace-page

#1746 fix(marketplace): handle undefine props
  src/pages/marketplace/index.js
Labels: marketplace, marketplace-page

#1749 Dashboard update
  src/components/accounts/dashboard/ui/ZActivityStream.js
  src/components/accounts/support/CreateTicket.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/middleware.js
  src/pages/dashboard.js
  src/pages/docs/[...slug].js
  src/pages/index.js
  src/pages/instances/[zuid]/support/[ticketNumber]/index.js
  src/views/zesty/Homepage.js
Labels: accounts, lib, middleware, accounts-page, docs-page, docs

#1753 fix(remove owner option in user invitation)
  src/views/accounts/instances/Users.js
Labels: accounts
