Repository zesty-io/website, pull requests merged in 2023-07, with the labels that each got.

#1817 Feat/product auth success
  src/components/cta/StandardFormWithSelect.js
  src/lib/supportPortal/fetchTicketThreads.js
  src/pages/instances/[zuid]/support/index.js
  src/pages/marketplace/index.js
  src/pages/product/auth-success.js
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/utils/validation.js
  src/views/zesty/LandingPages2023.js
  src/views/zesty/ProductLandingPage.js
Labels: marketplace, cta, lib, accounts-page, marketplace-page

#1816 feat(product auth success page): product auth success page
  src/pages/marketplace/index.js
  src/pages/product/auth-success.js
  src/views/zesty/ProductLandingPage.js
Labels: marketplace, marketplace-page

#1825 fix(supporportal): fix unable to create ticket on support portal views
  src/components/accounts/support/CreateTicket.js
Labels: accounts

#1833 Feat/login redirect
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/console/Login.js
  src/pages/_app.js
  src/views/zesty/Homepage.js
Labels: accounts

#1835 Feat/login redirect isloggedin issue in sso
  src/components/accounts/ui/buttons/SSOBtn.js
  src/views/zesty/Homepage.js
Labels: accounts

#1836 fix(useisloggedin double checking): useIsLoggedIn double checking
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/hooks/useIsLoggedIn.js
Labels: accounts, hooks

#1838 Feat/login redirect
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/console/Login.js
  src/components/hooks/useFetchWrapper.js
  src/components/hooks/useIsLoggedIn.js
  src/middleware.js
Labels: accounts, middleware, hooks

#1840 fix(fix homepage redirect): fix homepage redirect
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/console/Login.js
  src/views/zesty/Homepage.js
Labels: accounts

#1842 Feat/login redirect 2
  cypress/integration/docs/docs.spec.js
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/console/Login.js
  src/components/docs/DocsHomePage.js
  src/lib/api.js
  src/middleware.js
  src/pages/[[...zesty]].js
  src/pages/docsOverview/[...slug].js
  src/pages/docsOverview/index.js
  src/pages/docsOverview/parsley/api-reference/index.js
  src/pages/docsOverview/parsley/guides/[...slug].js
  src/pages/docsOverview/parsley/guides/index.js
  src/pages/docsOverview/parsley/index.js
  src/pages/docsOverview/parsley/tour/[...slug].js
  src/pages/docsOverview/parsley/tour/index.js
  src/views/accounts/profile/Security.js
  src/views/zesty/ZestyDoc.js
  src/views/zesty/index.js
Labels: accounts, lib, middleware, e2e, docs

#1846 Feat/login redirect 3
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/console/Login.js
  src/components/hooks/useIsLoggedIn.js
  src/middleware.js
  src/pages/[[...zesty]].js
  src/views/Docs/DocsPages.js
Labels: accounts, middleware, hooks

#1847 Fix/roadmap
  src/lib/githubFetch.js
  src/views/zesty/Roadmap.js
Labels: lib

#1830 Hotifx/support portal
  src/components/accounts/support/CreateTicket.js
Labels: accounts

#1854 fix(login): login redirect from navigation
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/console/DocsAppbar.js
  src/components/console/Login.js
  src/components/hooks/useFetchWrapper.js
Labels: accounts, hooks

#1857 Feat/single field form
  src/components/cta/StandardFormWithSelect.js
  src/components/cta/standardFormWithSelectBackup.js
  src/pages/_app.js
  src/revamp/components/CustomTextField/index.js
  src/revamp/ui/GetDemoSection/MultiFieldForm.js
  src/revamp/ui/GetDemoSection/SingleFieldForm.js
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/utils/helper.js
  src/revamp/utils/validation.js
  src/views/accounts/profile/Security.js
  src/views/zesty/Homepage.js
Labels: accounts, cta

#1861 Feat/single field form
  src/components/cta/StandardFormWithSelect.js
  src/lib/emailBlockList/blockList.js
  src/revamp/components/CustomTextField/index.js
  src/revamp/ui/GetDemoSection/SingleFieldForm.js
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/utils/validation.js
Labels: accounts, cta, lib

#1866 fix: markdown image not rendering
  cypress/integration/product/product.spec.js
  src/components/markdown-styling/components/MDParagraph.js
Labels: e2e
