Repository zesty-io/website, pull requests merged in 2023-09, with the labels that each got.

#1953 Accounts to stage
  cypress/integration/docs/docs.spec.js
  package-lock.json
  package.json
  src/components/console/DocsAppbar.js
  src/components/globals/TableOfContent.js
  src/components/globals/TreeNavigation.js
  src/components/markdown-styling/components/MDCodeBlock.js
  src/layouts/Main/MarketingMain.js
  src/utils/docs/index.js
  src/utils/index.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsComboBox.js
  src/views/Docs/DocsPages.js
  src/views/Docs/DocsTabs.js
  src/views/Docs/helper/fetchTransformer.js
  src/views/Docs/helper/index.js
  src/views/Docs/index.js
  src/views/accounts/profile/Security.js
  src/views/zesty/Homepage.js
  src/views/zesty/ZestyDoc.js
  src/views/zesty/index.js
  test/__tests__/components/globals/__snapshots__/TableOfContent.test.js.snap
  test/__tests__/components/markdown-styling/ZestyMarkdownParser.test.js
Labels: accounts, globals, e2e, docs

#1964 fixed doc helper
  cypress/integration/docs/docs.spec.js
  src/components/console/DocsAppbar.js
  src/components/markdown-styling/components/MDCodeBlock.js
  src/views/Docs/helper/index.js
  src/views/zesty/ZestyDoc.js
Labels: e2e

#1974 fix: class selectors for `algolia`
  src/components/console/AppSearch.js
  src/components/globals/TreeNavigation.js
  src/components/markdown-styling/ZestyMarkdownParser.js
  src/views/zesty/ZestyDoc.js
  test/__tests__/components/globals/__snapshots__/TreeNavigation.test.js.snap
Labels: globals

#1976 ai-search): Streaming, Move Chips, Placeholder
  package-lock.json
  src/components/docs/AiSearch.js
  src/views/Docs/AlgoSearch.js
Labels: docs

#1980 Remove streaming
  src/components/docs/AiSearch.js
  src/views/Docs/SearchModal.js
Labels: docs

#1993 Accounts to stage
  src/components/globals/constants.js
  src/lib/api.js
  src/pages/_document.js
  src/revamp/ui/EnterpriseGrowth/index.js
  src/revamp/ui/FeatureBulletWithTestimonials/index.js
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/ui/GridFeature/index.js
  src/revamp/ui/Hero/index.js
  src/revamp/ui/SecurityFeature/index.js
  src/revamp/ui/SingleTestimonial/index.js
  src/revamp/ui/Stats/index.js
  src/revamp/ui/TabsSection/TabSection.js
  src/revamp/ui/TabsSection/index.js
  src/utils/index.js
  src/views/zesty/Homepage.js
Labels: lib, globals

#2013 feat: homepage update
  src/components/hooks/useIsLoggedIn.js
  src/revamp/ui/HeroV2/index.js
  src/views/zesty/Homepage.js
Labels: hooks
