Repository zesty-io/website, pull requests merged in 2023-01, with the labels that each got.

#1513 fix(joinapp): logos update for developers
  src/components/accounts/dashboard/index.js
  src/components/accounts/join/constants.js
Labels: accounts

#1521 fix(accounts): added loading effect in overview btns
  src/components/accounts/instances/InstanceHeader.js
  src/components/accounts/ui/cards/AOverviewCards.js
  src/views/accounts/instances/Overview.js
Labels: accounts

#1522 fix(overview): cards flickering when loading
  src/pages/instances/[zuid]/index.js
  src/views/accounts/instances/Overview.js
Labels: accounts, accounts-page

#1523 fix(instanceheader): flickering loading of data and word space
  src/components/accounts/instances/InstanceHeader.js
Labels: accounts

#1524 fix(accounts nav): use store for accounts nav data
  src/components/accounts/instances/InstanceHeader.js
  src/components/accounts/instances/InstancesApp.js
Labels: accounts

#1526 New pages for marketing website
  src/blocks/benefits/Benefits.js
  src/blocks/contentBlocks/CenteredContents/CenteredContents.js
  src/blocks/integrations/TechStack.js
  src/blocks/zesty/Bottom/Bottom.js
  src/blocks/zesty/Cards/CardsInContainer.js
  src/blocks/zesty/Cta/ImageWithContentsCta.js
  src/blocks/zesty/Growth/Growth.js
  src/blocks/zesty/HeadingAndDescription/HeadingAndDescription.js
  src/blocks/zesty/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/blocks/zesty/LogoGrid/SimpleCardLogo.js
  src/blocks/zesty/PageLayouts/AlternateColumns.js
  src/blocks/zesty/PageLayouts/Features.js
  src/blocks/zesty/PageLayouts/WordPressMigration.js
  src/blocks/zesty/TabContent/TabContent.js.js
  src/components/accounts/dashboard/index.js
  src/components/accounts/instances/InstanceDashboardV2.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/constants.js
  src/components/marketing/DigitalExperiencePlatform/Bottom.js
  src/components/marketing/DxpBenefits/HeadlessVsTraditionalCms.js
  src/components/marketing/HeadlessCommerce/TradionalVsHeadless.js
  src/components/marketing/HeadlessMultiSite/WhatIsMultiSite.js
  src/pages/join.js
  src/theme/palette.js
  src/views/zesty/CdnHosting.js
  src/views/zesty/DigitalExperiencePlatform.js
  src/views/zesty/DigitalGovernance.js
  src/views/zesty/DxpBenefit.js
  src/views/zesty/ForPersonasPage.js
  src/views/zesty/HeadlessBlogProductPage.js
  src/views/zesty/HeadlessCmsEnterprise.js
  src/views/zesty/HeadlessCmsFeature.js
  src/views/zesty/HeadlessCmsMultiLang.js
  src/views/zesty/HeadlessDam.js
  src/views/zesty/HeadlessEcommerce.js
  src/views/zesty/HeadlessLocalization.js
  src/views/zesty/HeadlessMobile.js
  src/views/zesty/HeadlessMultiSite.js
  src/views/zesty/HeadlessSeo.js
  src/views/zesty/PartnerProgramDirectory.js
  src/views/zesty/ScalableCm.js
Labels: theme, accounts, marketing

#1527 fix(header component): fix typography and adjust white space
  src/blocks/benefits/Benefits.js
  src/blocks/zesty/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/components/marketing/HeadlessCommerce/TradionalVsHeadless.js
  src/views/zesty/DigitalGovernance.js
  src/views/zesty/HeadlessDam.js
Labels: marketing

#1528 New pages for marketing website
  src/blocks/benefits/Benefits.js
  src/blocks/contentBlocks/CenteredContents/CenteredContents.js
  src/blocks/integrations/TechStack.js
  src/blocks/zesty/Bottom/Bottom.js
  src/blocks/zesty/Cards/CardsInContainer.js
  src/blocks/zesty/Cta/ImageWithContentsCta.js
  src/blocks/zesty/Growth/Growth.js
  src/blocks/zesty/HeadingAndDescription/HeadingAndDescription.js
  src/blocks/zesty/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/blocks/zesty/LogoGrid/SimpleCardLogo.js
  src/blocks/zesty/PageLayouts/AlternateColumns.js
  src/blocks/zesty/PageLayouts/Features.js
  src/blocks/zesty/PageLayouts/WordPressMigration.js
  src/blocks/zesty/TabContent/TabContent.js.js
  src/components/marketing/DigitalExperiencePlatform/Bottom.js
  src/components/marketing/DxpBenefits/HeadlessVsTraditionalCms.js
  src/components/marketing/HeadlessCommerce/TradionalVsHeadless.js
  src/components/marketing/HeadlessMultiSite/WhatIsMultiSite.js
  src/theme/palette.js
  src/views/zesty/CdnHosting.js
  src/views/zesty/DigitalExperiencePlatform.js
  src/views/zesty/DigitalGovernance.js
  src/views/zesty/DxpBenefit.js
  src/views/zesty/ForDeveloper.js
  src/views/zesty/ForPersonasPage.js
  src/views/zesty/HeadlessBlogProductPage.js
  src/views/zesty/HeadlessCmsEnterprise.js
  src/views/zesty/HeadlessCmsFeature.js
  src/views/zesty/HeadlessCmsMultiLang.js
  src/views/zesty/HeadlessDam.js
  src/views/zesty/HeadlessEcommerce.js
  src/views/zesty/HeadlessLocalization.js
  src/views/zesty/HeadlessMobile.js
  src/views/zesty/HeadlessMultiSite.js
  src/views/zesty/HeadlessSeo.js
  src/views/zesty/PartnerProgramDirectory.js
  src/views/zesty/ScalableCm.js
Labels: New Page, theme, marketing

#1530 fix(joinapp): main logo change png to svg
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1516 Accounts and Joinapp page minor fixes
  src/components/accounts/instances/InstanceHeader.js
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/PreferenceQuestions.js
  src/components/accounts/ui/cards/AOverviewCards.js
  src/components/wrappers/Page.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
  src/pages/instances/[zuid]/index.js
  src/views/accounts/instances/Overview.js
  src/views/zesty/JoinPageContent.js
Labels: accounts, accounts-page

#1535 Fix/joinapp flow v2
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1536 update pendo firing and webengine url
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1425 Github SSO
  src/components/accounts/constants/index.js
  src/components/accounts/join/Onboarding.js
  src/components/console/Login.js
  src/components/marketing/Join/SlideMessage.jsx
Labels: accounts, marketing

#1541 fix(joinapp): change pendo init location (#1540)
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1544 feat(join): add slack notify in decision maker roles
  src/components/accounts/join/OnboardingQuestions.js
Labels: accounts

#1545 refactor(login register): sSO buttons grouping and refactor
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/accounts/ui/buttons/SSOGroupBtns.js
  src/components/accounts/ui/buttons/index.js
  src/components/console/Login.js
  src/components/marketing/Join/SlideMessage.jsx
Labels: accounts, marketing

#1546 refactor(sso login): make href values to become env
  src/components/accounts/constants/index.js
  src/components/accounts/ui/buttons/SSOGroupBtns.js
  src/components/console/Login.js
  src/components/marketing/Join/SlideMessage.jsx
  src/pages/[...slug].js
  src/pages/join.js
Labels: accounts, marketing

#1542 Github sso and pendo location
  .env.example
  src/components/accounts/constants/index.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/ui/buttons/SSOBtn.js
  src/components/accounts/ui/buttons/SSOGroupBtns.js
  src/components/accounts/ui/buttons/index.js
  src/components/console/Login.js
  src/components/marketing/Join/SlideMessage.jsx
  src/pages/[...slug].js
  src/pages/join.js
Labels: accounts, marketing

#1415 Nav revamp
  package-lock.json
  src/blocks/IndexView/IndexView.js
  src/blocks/zesty/Cards/CaseStudyCards.js
  src/layouts/Main/MarketingMain.js
  src/layouts/Main/components/Sidebar/Sidebar.js
  src/layouts/Main/components/Sidebar/components/SidebarNav/SidebarNav.js
  src/layouts/Main/components/Sidebar/components/SidebarNav/components/NavItem/NavItem.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/layouts/Main/components/Topbar/components/NavItem/FeaturedLinks.js
  src/layouts/Main/components/Topbar/components/NavItem/LeftGridLinks.js
  src/layouts/Main/components/Topbar/components/NavItem/LinkWithIcons.js
  src/layouts/Main/components/Topbar/components/NavItem/NavItem.js
  src/layouts/Main/components/Topbar/components/NavItem/RightGridLinks.js
  src/layouts/Main/components/Topbar/components/NavItem/SingleNavItem.js
  src/lib/api.js
  src/pages/[...slug].js
  src/pages/marketplace/index.js
  src/theme/palette.js
  src/views/NotFound/NotFound.js
  src/views/NotFoundCover/NotFoundCover.js
Labels: theme, marketplace, lib, marketplace-page

#1547 fix: update experience when installing module if not logged in
  src/components/marketplace/ExtensionsIntaller.js
Labels: marketplace

#1555 Accounts and join app updates
  .github/workflows/e2e-cypress.yml
  src/components/accounts/instances/InstanceDashboardV2.js
  src/components/accounts/join/OnboardingQuestions.js
Labels: workflow, accounts

#1559 refactor(joinapp/start): update template url for prod (#1558)
  .github/workflows/ci.yml
  .github/workflows/e2e-cypress.yml
  .github/workflows/e2e.yml
  src/components/accounts/constants/index.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/marketing/Start/Start/ProjectDetails.js
  src/components/marketplace/ExtensionsIntaller.js
Labels: workflow, accounts, marketplace, marketing

#1563 fix: template download error (#1562)
  src/components/marketing/Join/Start/ProjectDetails.js
  src/utils/LaunchApp.js
Labels: marketing

#1566 Layouts integration base stage
  package-lock.json
  package.json
  src/blocks/layoutsBlocks/Bottom/Bottom.js
  src/blocks/layoutsBlocks/Cards/CardsInContainer.js
  src/blocks/layoutsBlocks/Cards/CaseStudyCards.js
  src/blocks/layoutsBlocks/Cta/DarkBlueCta.js
  src/blocks/layoutsBlocks/Cta/ImageWithContentsCta.js
  src/blocks/layoutsBlocks/Cta/SimpleCta.js
  src/blocks/layoutsBlocks/Growth/Growth.js
  src/blocks/layoutsBlocks/Growth/SimpleStats.js
  src/blocks/layoutsBlocks/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/blocks/layoutsBlocks/Hero/TwoColumnHeroWithImage.js
  src/blocks/layoutsBlocks/Hero/TwoRowsHero.js
  src/blocks/layoutsBlocks/LogoGrid/SimpleCardLogo.js
  src/blocks/layoutsBlocks/PageLayouts/AlternateColumns.js
  src/blocks/layoutsBlocks/PageLayouts/Features.js
  src/blocks/layoutsBlocks/Persona/Persona.js
  src/blocks/layoutsBlocks/Slider/LogoSlider.js
  src/blocks/layoutsBlocks/Testimonials/Testimonials.js
  src/blocks/layoutsBlocks/WhyZesty/WhyZesty.js
  src/blocks/layoutsBlocks/index.js
  src/blocks/layoutsBlocks/products/ParsleyOverview.js
  src/blocks/layoutsBlocks/products/parsley.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/lib/ZestyView.js
  src/pages/[...slug].js
  src/views/zesty/AutoLayoutComponent.js
  src/views/zesty/LayoutsTestPage.js
  src/views/zesty/index.js
Labels: marketing, lib

#1568 feat(accounts): add team members to teams (#1565)
  src/components/accounts/validations/accounts.js
  src/views/accounts/instances/Teams.js
Labels: accounts

#1574 Feat/usage
  src/components/accounts/instances/lang.js
  src/components/accounts/instances/tabs.js
  src/pages/instances/[zuid]/index.js
  src/pages/instances/[zuid]/usage.js
  src/store/index.js
  src/views/accounts/instances/Usage.js
  src/views/accounts/instances/index.js
Labels: zustand, accounts, accounts-page

#1576 style(usage): added table accounts for data
  src/views/accounts/instances/Usage.js
Labels: accounts

#1570 Marketing layouts component integration
  package-lock.json
  package.json
  src/blocks/blog/SimpleVerticalBlogCards/SimpleVerticalBlogCards.js
  src/blocks/layoutsBlocks/Bottom/Bottom.js
  src/blocks/layoutsBlocks/Cards/CardsInContainer.js
  src/blocks/layoutsBlocks/Cards/CaseStudyCards.js
  src/blocks/layoutsBlocks/Cta/DarkBlueCta.js
  src/blocks/layoutsBlocks/Cta/ImageWithContentsCta.js
  src/blocks/layoutsBlocks/Cta/SimpleCta.js
  src/blocks/layoutsBlocks/Growth/Growth.js
  src/blocks/layoutsBlocks/Growth/SimpleStats.js
  src/blocks/layoutsBlocks/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/blocks/layoutsBlocks/Hero/TwoColumnHeroWithImage.js
  src/blocks/layoutsBlocks/Hero/TwoRowsHero.js
  src/blocks/layoutsBlocks/LogoGrid/SimpleCardLogo.js
  src/blocks/layoutsBlocks/PageLayouts/AlternateColumns.js
  src/blocks/layoutsBlocks/PageLayouts/Features.js
  src/blocks/layoutsBlocks/Persona/Persona.js
  src/blocks/layoutsBlocks/Slider/LogoSlider.js
  src/blocks/layoutsBlocks/Testimonials/Testimonials.js
  src/blocks/layoutsBlocks/WhyZesty/WhyZesty.js
  src/blocks/layoutsBlocks/index.js
  src/blocks/layoutsBlocks/products/ParsleyOverview.js
  src/blocks/layoutsBlocks/products/parsley.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/lib/ZestyView.js
  src/pages/[...slug].js
  src/views/zesty/AutoLayoutComponent.js
  src/views/zesty/LayoutsTestPage.js
  src/views/zesty/index.js
Labels: marketing, lib

#1556 Merge to `Production`
  .github/workflows/ci.yml
  .github/workflows/e2e-cypress.yml
  .github/workflows/e2e.yml
  package-lock.json
  package.json
  src/blocks/blog/SimpleVerticalBlogCards/SimpleVerticalBlogCards.js
  src/blocks/layoutsBlocks/Bottom/Bottom.js
  src/blocks/layoutsBlocks/Cards/CardsInContainer.js
  src/blocks/layoutsBlocks/Cards/CaseStudyCards.js
  src/blocks/layoutsBlocks/Cta/DarkBlueCta.js
  src/blocks/layoutsBlocks/Cta/ImageWithContentsCta.js
  src/blocks/layoutsBlocks/Cta/SimpleCta.js
  src/blocks/layoutsBlocks/Growth/Growth.js
  src/blocks/layoutsBlocks/Growth/SimpleStats.js
  src/blocks/layoutsBlocks/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/blocks/layoutsBlocks/Hero/TwoColumnHeroWithImage.js
  src/blocks/layoutsBlocks/Hero/TwoRowsHero.js
  src/blocks/layoutsBlocks/LogoGrid/SimpleCardLogo.js
  src/blocks/layoutsBlocks/PageLayouts/AlternateColumns.js
  src/blocks/layoutsBlocks/PageLayouts/Features.js
  src/blocks/layoutsBlocks/Persona/Persona.js
  src/blocks/layoutsBlocks/Slider/LogoSlider.js
  src/blocks/layoutsBlocks/Testimonials/Testimonials.js
  src/blocks/layoutsBlocks/WhyZesty/WhyZesty.js
  src/blocks/layoutsBlocks/index.js
  src/blocks/layoutsBlocks/products/ParsleyOverview.js
  src/blocks/layoutsBlocks/products/parsley.js
  src/components/accounts/constants/index.js
  src/components/accounts/instances/InstanceDashboardV2.js
  src/components/accounts/instances/lang.js
  src/components/accounts/instances/tabs.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/ui/header/index.js
  src/components/accounts/validations/accounts.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/components/marketing/Join/Start/ProjectDetails.js
  src/components/marketing/Start/Start/ProjectDetails.js
  src/components/marketplace/ExtensionsIntaller.js
  src/layouts/Main/Main.js
  src/lib/ZestyView.js
  src/pages/[...slug].js
  src/pages/instances/[zuid]/index.js
  src/pages/instances/[zuid]/usage.js
  src/pages/marketplace/[...slug].js
  src/store/index.js
  src/utils/LaunchApp.js
  src/views/accounts/instances/Teams.js
  src/views/accounts/instances/Usage.js
  src/views/accounts/instances/index.js
  src/views/zesty/AutoLayoutComponent.js
  src/views/zesty/LayoutsTestPage.js
  src/views/zesty/index.js
Labels: workflow, zustand, accounts, marketplace, marketing, lib, accounts-page, marketplace-page

#1581 refactor: make template url ENV variable (#1580)
  .env.example
  src/components/accounts/constants/index.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/marketing/Join/Start/ProjectDetails.js
  src/components/marketing/Start/Data/Scenarios.js
  src/components/marketing/Start/Start/ProjectDetails.js
  src/components/marketplace/ExtensionsIntaller.js
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/pages/[...slug].js
  src/pages/index.js
  src/pages/instances/[zuid]/settings.js
  src/pages/join.js
  src/pages/marketplace/[...slug].js
  src/pages/marketplace/index.js
  src/pages/start.js
  src/utils/LaunchApp.js
  src/views/accounts/instances/Settings.js
  src/views/marketplace/Extension.js
Labels: accounts, marketplace, marketing, lib, accounts-page, marketplace-page

#1584 fix(mindshare): fixed mindshare blog item page showing old design
  src/lib/ZestyView.js
Labels: lib
