Repository zesty-io/website, pull requests merged in 2023-06, with the labels that each got.

#1778 Login updates
  src/layouts/Main/MarketingMain.js
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/middleware.js
  src/views/zesty/Homepage.js
Labels: accounts, lib, middleware

#1780 Fix/edit instance name bug
  src/components/accounts/instances/InstanceHeader.js
  src/views/zesty/Homepage.js
Labels: accounts

#1711 Docs dynamic title/head update
  README.md
  src/components/console/DocsAppbar.js
  src/components/docs/DocsSidebar.js
  src/pages/docs/[...slug].js
  src/pages/docs/parsley/api-reference/index.js
  src/pages/docs/parsley/guides/[...slug].js
  src/pages/docs/parsley/guides/index.js
  src/pages/docs/parsley/index.js
  src/pages/docs/parsley/tour/[...slug].js
  src/pages/docs/parsley/tour/index.js
  src/views/Docs/index.js
Labels: docs-page, docs

#1804 fix(security.js): unhide and disable authy
  src/views/accounts/profile/Security.js
Labels: accounts

#1807 fix(support portal): support portal adding validation instance when r…
  src/components/accounts/support/CreateTicket.js
  src/lib/supportPortal/fetchTicketThreads.js
  src/pages/instances/[zuid]/support/[ticketNumber]/index.js
  src/pages/instances/[zuid]/support/index.js
  src/revamp/ui/GetDemoSection/index.js
Labels: accounts, lib, accounts-page
