Repository zesty-io/website, pull requests merged in 2023-10, with the labels that each got.

#2035 feat(aisearch): fake streaming
  package-lock.json
  src/components/docs/AiSearch.js
Labels: docs

#2048 Fix/fb og image
  package.json
  src/components/globals/ZestyHead.js
  src/pages/_document.js
Labels: globals

#2059 Freestyle landing
  src/blocks/zesty/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/lib/sync.js
  src/views/zesty/EbookLandingPage.js
  src/views/zesty/FeaturesOption.js
  src/views/zesty/Freestyle.js
  src/views/zesty/GridFeatureList.js
  src/views/zesty/ZPatternSection.js
  src/views/zesty/index.js
Labels: lib

#2066 Roi calculator
  public/assets/images/roi-calculator/curves.svg
  src/components/marketing/RoiCalculator/Calculator.js
  src/components/marketing/RoiCalculator/CustomDoubleSlider.js
  src/components/marketing/RoiCalculator/CustomSlider.js
  src/components/marketing/RoiCalculator/Hero.js
  src/components/marketing/RoiCalculator/Results.js
  src/components/marketing/RoiCalculator/Switch.js
  src/components/marketing/RoiCalculator/Widget.js
  src/theme/palette.js
  src/views/zesty/RoiCalculator.js
  src/views/zesty/ZestyProduct.js
Labels: theme, marketing

#2067 Freestyle landing
  src/blocks/zesty/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/lib/sync.js
  src/views/zesty/EbookLandingPage.js
  src/views/zesty/FeaturesOption.js
  src/views/zesty/Freestyle.js
  src/views/zesty/GridFeatureList.js
  src/views/zesty/ZPatternSection.js
  src/views/zesty/index.js
Labels: lib

#2069 Freestyle landing
  src/blocks/zesty/Hero/SimpleHeroWithImageAndCtaButtons.js
  src/lib/sync.js
  src/views/zesty/EbookLandingPage.js
  src/views/zesty/FeaturesOption.js
  src/views/zesty/Freestyle.js
  src/views/zesty/GridFeatureList.js
  src/views/zesty/ZPatternSection.js
  src/views/zesty/index.js
Labels: lib
