Repository zesty-io/website, pull requests merged in 2023-03, with the labels that each got.

#1609 docs: routing update category name
  cypress/integration/docs/docs.spec.js
  src/components/console/DocsAppbar.js
  src/pages/docs/[...slug].js
  src/views/Docs/helper/index.js
  src/views/Docs/index.js
Labels: e2e, docs-page, docs

#1610 feat(docs): added `language selector`
  src/components/console/DocsAppbar.js
  src/store/index.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsPopover.js
  src/views/Docs/helper/index.js
Labels: zustand

#1614 fix(change cta): Start Now to Request Demo
  src/components/cta/TryFreeButton.js
Labels: cta

#1607 feat(docs): add search inside nav tree and modify the algolia search …
  cypress/integration/docs/docs.spec.js
  package-lock.json
  public/styles/docs.css
  src/components/accounts/support/CreateTicket.js
  src/components/accounts/support/PopupBox.js
  src/components/accounts/support/TicketsModal.js
  src/components/accounts/ui/table/AccountsTable.js
  src/components/console/DocsAppbar.js
  src/pages/api/algolia-gitbook-transformer.js
  src/pages/api/algolia.js
  src/pages/docs/[...slug].js
  src/pages/instances/[zuid]/support/[ticketNumber]/index.js
  src/pages/old-docs/[...slug].js
  src/store/index.js
  src/views/Docs/AlgoSearch.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsPages.js
  src/views/Docs/DocsPopover.js
  src/views/Docs/SearchModal.js
  src/views/Docs/helper/index.js
  src/views/Docs/index.js
Labels: zustand, accounts, accounts-page, e2e, docs-page, docs

#1623 Beta docs
  package-lock.json
  public/styles/docs.css
  src/components/accounts/support/CreateTicket.js
  src/components/accounts/support/PopupBox.js
  src/components/accounts/support/TicketsModal.js
  src/components/accounts/ui/table/AccountsTable.js
  src/components/console/DocsAppbar.js
  src/components/cta/TryFreeButton.js
  src/pages/api/algolia-gitbook-transformer.js
  src/pages/docs/[...slug].js
  src/pages/instances/[zuid]/support/[ticketNumber]/index.js
  src/pages/old-docs/[...slug].js
  src/views/Docs/AlgoSearch.js
  src/views/Docs/DocsPages.js
  src/views/Docs/SearchModal.js
  src/views/Docs/index.js
Labels: accounts, cta, accounts-page, docs-page, docs

#1630 🪐 fix(docs): align `data.info` in docs not rendering
  src/pages/docs/[...slug].js
Labels: docs-page, docs

#1634 stage to prod
  src/components/cta/TryFreeButton.js
Labels: cta

#1636 Feat/set manager UI theme
  package-lock.json
  package.json
  src/pages/_document.js
  src/pages/revamp.js
  src/revamp/ui/BlackHero/index.js
  src/revamp/ui/BlogHero/index.js
  src/revamp/ui/CaseStudyHero/index.js
  src/revamp/ui/EnterpriseGrowth/index.js
  src/revamp/ui/FeatureBulletWithTestimonials/index.js
  src/revamp/ui/FeatureStatistics/index.js
  src/revamp/ui/FeatureTestimonial/index.js
  src/revamp/ui/FeatureTwoCTA/index.js
  src/revamp/ui/GridFeature/index.js
  src/revamp/ui/Hero/index.js
  src/revamp/ui/HomePage/index.js
  src/revamp/ui/LightHero/index.js
  src/revamp/ui/SingleTestimonial/index.js
  src/revamp/ui/Stats/index.js
  src/revamp/ui/TabsSection/TabSchema.js
  src/revamp/ui/TabsSection/index.js
  src/theme/revampTheme.js
Labels: theme

#1628 🚀 docs update
  src/components/accounts/dashboard/index.js
  src/components/console/DocsAppbar.js
  src/components/globals/TopNav.js
  src/layouts/Main/Main.js
  src/pages/docs/[...slug].js
  src/pages/docs/index.js
  src/pages/old-docs/[...slug].js
  src/utils/index.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsPages.js
  src/views/Docs/GitBookPages.js
  src/views/Docs/SearchModal.js
  src/views/Docs/helper/index.js
  src/views/Docs/index.js
Labels: accounts, globals, docs-page, docs

#1640 🚀 Docs updates
  package.json
  src/components/console/DocsAppbar.js
  src/store/index.js
  src/utils/index.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsPages.js
  src/views/Docs/helper/index.js
Labels: zustand

#1641 🚀 Accounts and Marketing updates
  package.json
  src/components/console/AccountsAppbar.js
  src/components/console/DocsAppbar.js
  src/store/index.js
  src/utils/index.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsPages.js
  src/views/Docs/helper/index.js
Labels: zustand

#1643 Gitbook contents
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/pages/old-docs/[...slug].js
  src/views/Docs/DocsPages.js
  src/views/Docs/DocsPopover.js
  src/views/Docs/DocsTabs.js
  src/views/Docs/FolderTreeView.js
  src/views/Docs/index.js
Labels: accounts, lib

#1646 Feat/revamp homepage
  src/revamp/ui/BlackHero/index.js
  src/revamp/ui/BlogHero/index.js
  src/revamp/ui/BlogPage/index.js
  src/revamp/ui/EnterpriseGrowth/index.js
  src/revamp/ui/FeatureBulletWithTestimonials/index.js
  src/revamp/ui/FeatureTwoCTA/index.js
  src/revamp/ui/GridFeature/index.js
  src/revamp/ui/Hero/index.js
  src/revamp/ui/SingleTestimonial/index.js
  src/revamp/ui/Stats/index.js
  src/revamp/ui/TabsSection/TabSection.js
  src/revamp/ui/TabsSection/index.js
  src/theme/revampTheme.js
  src/views/zesty/Blogtest.js
Labels: theme
