Repository zesty-io/website, pull requests merged in 2023-02, with the labels that each got.

#1585 Remove dataset on model selection.
  src/components/marketplace/ExtensionsIntaller.js
Labels: marketplace

#1586 Added docs page
  .env.example
  package-lock.json
  package.json
  public/styles/app.css
  src/components/docs/docsLookup.js
  src/pages/_app.js
  src/pages/docs/index.js
  src/pages/old-docs/[...slug].js
  src/pages/old-docs/index.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsComboBox.js
  src/views/Docs/DocsPages.js
  src/views/Docs/FolderTreeView.js
  src/views/Docs/SearchComponent.js
  src/views/Docs/accounts.data.json
  src/views/Docs/auth.data.json
  src/views/Docs/index.js
  src/views/Docs/instance.data.json
Labels: docs-page, docs

#1593 chore: remove unused vars
  next.config.js
  src/components/accounts/instances/InstanceDashboardV2.js
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/PersonalizationSurvey.js
  src/components/accounts/join/zohoPostObject.js
  src/components/cta/DemoForm.js
  src/components/docs/docsLookup.js
  src/layouts/Main/components/Sidebar/components/SidebarNav/components/NavItem/NavItem.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/pages/join.js
  src/views/accounts/instances/Usage.js
  src/views/zesty/DigitalGovernance.js
  src/views/zesty/GatedContentPage.js
  src/views/zesty/ScalableCm.js
Labels: accounts, cta, docs

#1583 Refactor: Make template url Env Variable
  .env.example
  next.config.js
  src/components/accounts/constants/index.js
  src/components/accounts/instances/InstanceDashboardV2.js
  src/components/accounts/instances/InstancesApp.js
  src/components/accounts/join/Onboarding.js
  src/components/accounts/join/OnboardingQuestions.js
  src/components/accounts/join/PersonalizationSurvey.js
  src/components/accounts/join/PreferenceQuestions.js
  src/components/accounts/join/zohoPostObject.js
  src/components/cta/DemoForm.js
  src/components/docs/docsLookup.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/components/marketing/Join/Start/ProjectDetails.js
  src/components/marketing/Start/Data/Scenarios.js
  src/components/marketing/Start/Start/ProjectDetails.js
  src/components/marketplace/ExtensionsIntaller.js
  src/layouts/Main/components/Sidebar/components/SidebarNav/components/NavItem/NavItem.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/pages/[...slug].js
  src/pages/index.js
  src/pages/instances/[zuid]/settings.js
  src/pages/join.js
  src/pages/marketplace/[...slug].js
  src/pages/marketplace/index.js
  src/pages/start.js
  src/utils/LaunchApp.js
  src/views/accounts/instances/Settings.js
  src/views/accounts/instances/Usage.js
  src/views/marketplace/Extension.js
  src/views/zesty/DigitalGovernance.js
  src/views/zesty/GatedContentPage.js
  src/views/zesty/ScalableCm.js
Labels: accounts, marketplace, marketing, cta, lib, accounts-page, marketplace-page, docs

#1594 feat(ai landing page): ai landing page first draft
  src/theme/palette.js
  src/views/zesty/Ai.js
  src/views/zesty/AiExample.js
  src/views/zesty/Alternatecolumn.js
  src/views/zesty/Bottom.js
  src/views/zesty/Cardsincontainer.js
  src/views/zesty/Casestudycard.js
  src/views/zesty/Darkbluecta.js
  src/views/zesty/Growth.js
  src/views/zesty/Imagewithcontentscta.js
  src/views/zesty/LayoutsComponentParent.js
  src/views/zesty/LayoutsFeature.js
  src/views/zesty/LayoutsTestPage2.js
  src/views/zesty/LogoSlider.js
  src/views/zesty/Persona.js
  src/views/zesty/SellingPoint.js
  src/views/zesty/Simplecardlogo.js
  src/views/zesty/SimpleherowithimageandctabuttonsData.js
  src/views/zesty/Simplestat.js
  src/views/zesty/Testimonial.js
  src/views/zesty/Tworowshero.js
  src/views/zesty/index.js
Labels: theme

#1597 chore: fix header line height in wysiwyg
  src/components/globals/WYSIWYGRender.js
Labels: globals

#1598 Feat/docs wip
  src/pages/docs/[...slug].js
  src/views/Docs/CodeBlock.js
  src/views/Docs/FolderTreeView.js
  src/views/Docs/LangSelector.js
  src/views/Docs/accounts.data.json
  src/views/Docs/auth.data.bak.json
  src/views/Docs/auth.data.json
  src/views/Docs/helper/index.js
  src/views/Docs/index.js
  src/views/Docs/instance.data.json
Labels: docs-page, docs

#1599 Feat/docs
  src/pages/docs/[...slug].js
  src/pages/docs/index.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsPages.js
  src/views/Docs/FolderTreeView.js
  src/views/Docs/LangSelector.js
  src/views/Docs/accounts.data.json
  src/views/Docs/auth.data.bak.json
  src/views/Docs/auth.data.json
  src/views/Docs/helper/index.js
  src/views/Docs/index.js
  src/views/Docs/instance.data.json
Labels: docs-page, docs

#1602 chore: change overview text to say CDN requests (not API requests)
  src/views/accounts/instances/Overview.js
Labels: accounts

#1604 feat(docs): algolia initialize
  .env.example
  package-lock.json
  package.json
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/pages/api/algolia.js
  src/pages/docs/[...slug].js
  src/pages/docs/index.js
  src/store/index.js
  src/views/Docs/AlgoSearch.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/SearchModal.js
  src/views/Docs/helper/index.js
  src/views/Docs/index.js
Labels: zustand, accounts, lib, docs-page, docs

#1605 docs update
  cypress/integration/docs/docs.spec.js
  public/styles/app.css
  src/components/console/AccountsAppbar.js
  src/components/console/DocsAppbar.js
  src/layouts/Main/Main.js
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/pages/api/algolia.js
  src/pages/docs/[...slug].js
  src/store/index.js
  src/utils/index.js
  src/views/Docs/AlgoSearch.js
  src/views/Docs/CodeBlock.js
  src/views/Docs/DocsComboBox.js
  src/views/Docs/DocsPages.js
  src/views/Docs/DocsTabs.js
  src/views/Docs/SearchModal.js
  src/views/Docs/index.js
Labels: zustand, accounts, lib, e2e, docs-page, docs

#1606 Docs update to accounts
  package-lock.json
  package.json
  public/styles/docs.css
  src/components/accounts/ui/select/AccountsComboBox.js
  src/components/console/AccountsAppbar.js
  src/components/console/DocsAppbar.js
  src/layouts/Main/components/AppNavigation/AppNavigation.js
  src/pages/_app.js
  src/views/Docs/DocsComboBox.js
  src/views/Docs/DocsPages.js
Labels: accounts
