Repository zesty-io/website, pull requests merged in 2023-04, with the labels that each got.

#1653 fix(darkmode homepage): darkmode homepage
  src/pages/revamp.js
  src/revamp/ui/Stats/index.js
  src/theme/revampTheme.js
  src/views/zesty/Homepage.js
Labels: theme

#1645 🚀 feat: parsley docs
  package-lock.json
  package.json
  public/styles/docs.css
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/pages/docs/parsley/api-reference/index.js
  src/pages/docs/parsley/tour/[...slug].js
Labels: accounts, lib, docs-page, docs

#1652 feat(landing page autolayout): initial commit setting up landing page…
  src/blocks/layoutsBlocks/index.js
  src/blocks/layoutsBlocks/revamp/ui/BlackHero/index.js
  src/blocks/layoutsBlocks/revamp/ui/BlogHero/index.js
  src/blocks/layoutsBlocks/revamp/ui/BlogPage/index.js
  src/blocks/layoutsBlocks/revamp/ui/CaseStudyHero/index.js
  src/blocks/layoutsBlocks/revamp/ui/EnterpriseGrowth/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureBulletWithTestimonials/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureStatistics/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureTwoCTA/index.js
  src/blocks/layoutsBlocks/revamp/ui/GridFeature/index.js
  src/blocks/layoutsBlocks/revamp/ui/Hero/index.js
  src/blocks/layoutsBlocks/revamp/ui/HomePage/index.js
  src/blocks/layoutsBlocks/revamp/ui/HomePage2/index.js
  src/blocks/layoutsBlocks/revamp/ui/LightHero/index.js
  src/blocks/layoutsBlocks/revamp/ui/SecurityFeature/index.js
  src/blocks/layoutsBlocks/revamp/ui/SingleTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/ui/Stats/index.js
  src/blocks/layoutsBlocks/revamp/ui/TabsSection/TabSection.js
  src/blocks/layoutsBlocks/revamp/ui/TabsSection/index.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/lib/ZestyView.js
  src/pages/revamp.js
  src/theme/palette.js
  src/views/zesty/AutoLayoutComponent.js
  src/views/zesty/BlogHero.js
  src/views/zesty/CaseStudyHero.js
  src/views/zesty/DarkHero.js
  src/views/zesty/EnterpriseGrowth.js
  src/views/zesty/FeatureBulletPointsWithTestimonial.js
  src/views/zesty/FeatureHighlightImageLeft.js
  src/views/zesty/FeatureStatistic.js
  src/views/zesty/FeatureTestimonial.js
  src/views/zesty/FeatureTwoCta.js
  src/views/zesty/Hero2.js
  src/views/zesty/LandingPages2023.js
  src/views/zesty/LightHero.js
  src/views/zesty/SingleTestimonial.js
  src/views/zesty/StatsComponent.js
  src/views/zesty/index.js
Labels: theme, marketing, lib

#1655 Landing pages autolayout
  src/blocks/layoutsBlocks/index.js
  src/blocks/layoutsBlocks/revamp/ui/BlackHero/index.js
  src/blocks/layoutsBlocks/revamp/ui/BlogHero/index.js
  src/blocks/layoutsBlocks/revamp/ui/BlogPage/index.js
  src/blocks/layoutsBlocks/revamp/ui/CaseStudyHero/index.js
  src/blocks/layoutsBlocks/revamp/ui/EnterpriseGrowth/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureBulletWithTestimonials/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureStatistics/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/ui/FeatureTwoCTA/index.js
  src/blocks/layoutsBlocks/revamp/ui/GridFeature/index.js
  src/blocks/layoutsBlocks/revamp/ui/Hero/index.js
  src/blocks/layoutsBlocks/revamp/ui/HomePage/index.js
  src/blocks/layoutsBlocks/revamp/ui/HomePage2/index.js
  src/blocks/layoutsBlocks/revamp/ui/LightHero/index.js
  src/blocks/layoutsBlocks/revamp/ui/SecurityFeature/index.js
  src/blocks/layoutsBlocks/revamp/ui/SingleTestimonial/index.js
  src/blocks/layoutsBlocks/revamp/ui/Stats/index.js
  src/blocks/layoutsBlocks/revamp/ui/TabsSection/TabSection.js
  src/blocks/layoutsBlocks/revamp/ui/TabsSection/index.js
  src/components/marketing/AppLayouts/ComponentSelector.js
  src/lib/ZestyView.js
  src/pages/revamp.js
  src/theme/palette.js
  src/views/zesty/AutoLayoutComponent.js
  src/views/zesty/BlogHero.js
  src/views/zesty/CaseStudyHero.js
  src/views/zesty/DarkHero.js
  src/views/zesty/EnterpriseGrowth.js
  src/views/zesty/FeatureBulletPointsWithTestimonial.js
  src/views/zesty/FeatureHighlightImageLeft.js
  src/views/zesty/FeatureStatistic.js
  src/views/zesty/FeatureTestimonial.js
  src/views/zesty/FeatureTwoCta.js
  src/views/zesty/Hero2.js
  src/views/zesty/LandingPages2023.js
  src/views/zesty/LightHero.js
  src/views/zesty/SingleTestimonial.js
  src/views/zesty/StatsComponent.js
  src/views/zesty/index.js
Labels: theme, marketing, lib

#1664 Fix/docs url
  src/lib/accounts/protectedRouteGetServerSideProps.js
  src/utils/index.js
Labels: accounts, lib

#1667 Fix/docs parsley update
  package-lock.json
  package.json
  src/components/console/DocsAppbar.js
  src/components/docs/DocsSidebar.js
  src/pages/api/algolia.js
  src/pages/docs/parsley/api-reference/index.js
  src/pages/docs/parsley/tour/[...slug].js
  src/views/Docs/DocsComboBox.js
Labels: docs-page, docs

#1669 fix(docs-parsley): sidebar width
  src/components/console/DocsAppbar.js
  src/components/docs/DocsSidebar.js
  src/pages/docs/parsley/api-reference/index.js
Labels: docs-page, docs

#1670 Docs parsley updates
  src/components/docs/DocsSidebar.js
  src/pages/api/algolia.js
  src/pages/docs/parsley/api-reference/index.js
  src/pages/docs/parsley/tour/[...slug].js
  src/utils/docs/index.js
  src/views/Docs/AlgoSearch.js
Labels: docs-page, docs

#1671 Fix/docs parsley update
  package-lock.json
  package.json
  src/components/docs/DocsSidebar.js
  src/pages/docs/parsley/tour/[...slug].js
  src/utils/docs/index.js
Labels: docs-page, docs

#1668 Docs parsley integration
  package-lock.json
  package.json
  src/components/console/DocsAppbar.js
  src/components/docs/DocsSidebar.js
  src/pages/api/algolia.js
  src/pages/docs/parsley/api-reference/index.js
  src/pages/docs/parsley/tour/[...slug].js
  src/utils/docs/index.js
  src/views/Docs/AlgoSearch.js
  src/views/Docs/DocsComboBox.js
Labels: docs-page, docs

#1680 fix(standardformwithselect): remove response timeline text
  src/components/cta/StandardFormWithSelect.js
Labels: cta

#1682 fix(docs-parsely): `codeblock` wrapping text issue
  src/pages/docs/parsley/tour/[...slug].js
Labels: docs-page, docs

#1695 Feat/dev to stage
  src/components/cta/TryFreeButton.js
  src/layouts/Main/MarketingMain.js
  src/layouts/Main/components/Topbar/Topbar.js
  src/layouts/Main/components/Topbar/components/NavItem/NavItem.js
  src/layouts/Main/components/Topbar/components/NavItem/SingleNavItem.js
  src/pages/revamp.js
  src/revamp/components/CustomTextField/index.js
  src/revamp/components/MindshareBlog/index.js
  src/revamp/ui/BlackHero/index.js
  src/revamp/ui/BlogCard/index.js
  src/revamp/ui/BlogContent/index.js
  src/revamp/ui/BlogPageHeader/index.js
  src/revamp/ui/GetDemoSection/index.js
  src/revamp/ui/Hero/index.js
  src/revamp/ui/HeroForm/index.js
  src/revamp/ui/LightHero/index.js
  src/revamp/ui/TabsSection/index.js
  src/revamp/utils/helper.js
  src/revamp/utils/validation.js
  src/theme/revampTheme.js
  src/views/zesty/Article.js
  src/views/zesty/Mindshare.js
Labels: theme, cta
